{% extends "base.html"%}

{% block title %}Weather app{% endblock %}
{% block content %}
{% if not temperature %}
		<form action="#" method="POST" class="C_Form">
				<div class="input-group mb-3 col-4">
				  <input type="text" class="form-control" placeholder="Enter your city" name="city">
					<div class="input-group-append">
					<button class="btn btn-warning" type="submit">Search</button>
				</div>
			</div>
	</form>
{% else %}
			<form action="#" method="POST" class="C_Form">
					<div class="input-group mb-3 col-4">
					  <input type="text" class="form-control" placeholder="Enter your city" name="city">
					 <div class="input-group-append">
						<button class="btn btn-warning" type="submit">Search</button>
					</div>
				</div>
			</form>

		<div class="container">
			<h1>You have searched the temprature for {{country}} , {{city_name}}</h1>
				<br><br>
			<h1>The temperature is : {{temperature}} °C</h1>
			<h1>Feels like : {{feels_like}} °C</h1>
			<h1>Maximum in the day: {{max_temp}} °C</h1>
			<h1>Minimum in the day : {{mini_temp}} °C</h1>

	</div>	
{% endif %}
{% endblock %}